term_width = 100 + ((band_n - 1) * 150)

set grid
unset key

# try to force all plots to have the same y limit
stats data using 2 nooutput name "A"
stats data using 3 nooutput name "B"
ymax = step_up(max(A_max, B_max)*TO_CM, 1200, 600)

set xrange [0:*]
set yrange [0:ymax]
set cbrange [-5:*]

set ylabel "Wavenumber [cm^{-1}]"

plot data u 1:($2 * TO_CM) w dots lc "#000000" \
   , data u 1:($3 * TO_CM):(log(max($3-$2,1e-5))) w lines palette
